{%- block text_row -%}
    {{- block('standard_row') -}}
{%- endblock text_row -%}

{%- block integer_row -%}
    {{- block('standard_row') -}}
{%- endblock integer_row -%}

{%- block email_row -%}
    {{- block('standard_row') -}}
{%- endblock email_row -%}

{%- block number_row -%}
    {{- block('standard_row') -}}
{%- endblock number_row -%}

{%- block standard_row -%}
    <div class="{{ id }} input-wrapper{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="field">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            <div class="bottom"></div>
        </div>
        <div class="error">
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock standard_row -%}

{%- block textarea_row -%}
    <div class="{{ id }} textarea-wrapper{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="field">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            <div class="bottom"></div>
        </div>
        <div class="error">
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock textarea_row -%}


{% block radio_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock radio_row %}

{% block checkbox_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock checkbox_row %}

{% block checkbox_radio_row %}
    <div class="{{ id }} checkbox-wrapper">
        <div class="field">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
        </div>
        <div class="error">
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock checkbox_radio_row %}

{% block checkbox_label -%}
    <label for="{{ id }}">
        <span class="checkbox"><span class="icon-checked"></span></span>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </label>
{%- endblock checkbox_label %}

{%- block submit_widget -%}
    {{ form_widget(form, {'type': 'submit', 'attr': {'class': 'button button--primary'}}) }}
{%- endblock submit_widget -%}

{% block choice_row %}
    <div class="{{ id }} select-container">
        {{- form_label(form) -}}
        <div class="field">
            {{- form_widget(form) -}}
        </div>
        <div class="error">
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock choice_row %}

{% block date_row %}
    <div class="{{ id }} select-container date-container">
        {{- form_label(form) -}}
        <div class="field">
            {{- form_widget(form) -}}
        </div>
        <div class="error">
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock date_row %}

{%- block choice_widget -%}
    <div class="select-wrapper">
        {% if expanded %}
            {{- block('choice_widget_expanded') -}}
        {% else %}
            {{- block('choice_widget_collapsed') -}}
        {% endif %}
    </div>
{%- endblock choice_widget -%}

{% block file_row -%}
    <div class="file-input-container">
        {{- form_label(form) -}}
        <div class="field">
            {{- form_widget(form) -}}
        </div>
        <div class="error">
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock file_row %}

{% block file_widget -%}
    <label for="{{ id }}">{{ 'label.choose_file'|trans }}</label>
    <input type="file" id="{{ id }}" {{ block('widget_attributes') }}/>
{%- endblock file_widget %}
