{% extends 'base.html.twig' %}

{% block page_title %}
    Liste des référents pédagogiques
{% endblock %}

{% block body %}

    <a class="button button--primary" href="{{ path('pedagogical_referent_add') }}">
        <i class="icon-add"></i>
        Ajouter un référent pédagogique
    </a>

    <div class="box p10 mt10">
        {% if elements %}
            <table class="company-list-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for element in elements %}
                    <tr>
                        <td>{{ element.firstName }} {{ element.lastName }}</td>
                        <td>
                            <a class="button button--sm button--rounded button--primary"
                               href="{{ path('pedagogical_referent_edit',{ 'id' : element.id }) }}">
                                <i class="icon-edit"></i>
                                Modifier
                            </a>
                            <a class="button button--sm button--rounded button--error"
                               href="{{ path('pedagogical_referent_remove',{ 'id' : element.id }) }}">
                                <i class="icon-delete"></i>
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="pt10">
                Aucun élément à afficher
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
