{% extends 'base.html.twig' %}

{% block page_title %}
    {% if editMode is defined %}
        Modifier la classe de l'élève {{ student.firstName }} {{ student.lastName }}
    {% else %}
        Associer l'élève {{ student.firstName }} {{ student.lastName }} a une nouvelle classe
    {% endif %}
{% endblock %}

{% block body %}

    <a class="button button--error mb20 mr10"
       href="{{ path('schooling_student_view', { 'id' : student.id }) }}">
        <i class="icon-chevron-left"></i>
        Retour à l'élève
    </a>

    <div class="box p20">
        {{ form(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
