{% extends 'base.html.twig' %}

{% block page_title %}
    {% if editMode is defined %}
        Modification d'un référent professionnel
    {% else %}
        Ajout d'un référent professionnel
    {% endif %}
{% endblock %}

{% block body %}

    <a class="button button--error mb20" href="{{ path('professional_referent_home') }}">
        <i class="icon-chevron-left"></i>
        Retour
    </a>

    <div class="p20 box">
        {{ form(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

