{% extends 'base.html.twig' %}

{% block page_title %}
    Liste des référents professionnels
{% endblock %}

{% block body %}

    <a class="button button--primary" href="{{ path('professional_referent_add') }}">
        <i class="icon-add"></i>
        Ajouter un nouveau référent professionnel
    </a>

    <div class="box p20 mt10">

        {% if elements|length %}
            <table class="company-list-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for element in elements %}
                    <tr>
                        <td>{{ element.id }}</td>
                        <td>{{ element.firstName }} {{ element.lastName }}</td>
                        <td>
                            <a class="button button--primary button--sm button--rounded" href="{{ path('professional_referent_edit',{ 'id' : element.id }) }}">Modifier</a>
                            <a class="button button--error button--sm button--rounded" href="{{ path('professional_referent_remove',{ 'id' : element.id }) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="pt20">Aucun élément</div>
        {% endif %}

    </div>


{% endblock %}

{% block stylesheets %}
{% endblock %}
