{% extends 'base.html.twig' %}

{% block page_title %}
    Ajouter une nouvelle visite pour le stage de {{ student.firstName }} {{ student.lastName }}
{% endblock %}

{% block body %}
    <div class="box p20">
        {{ form(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
