<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lycée saint vincent - Gestion de stage!{% endblock %}</title>

        {#<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">#}
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="header">
                <div class="container">
                    <img src="{{ asset('assets/img/logo.png') }}" alt="Logo saint vincent" class="fl mr20">
                    <h1>
                        Plateforme de Gestion des stages
                    </h1>
                    <h2>Lycée privé Saint-Vincent</h2>

                    <div class="wrapper-menus">
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{ path('home_stage') }}">Stages</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('home_stage') }}">Rechercher un stage</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ path('company_home') }}">Entreprises</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('company_home') }}">Entreprises</a></li>
                                        <li><a href="{{ path('company_type_home') }}">Types d'entreprises</a></li>
                                        <li><a href="{{ path('professional_referent_home') }}">Référents professionnels</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Suivi scolarité</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('schooling_classroom') }}">Classes</a></li>
                                        <li><a href="{{ path('schooling_student') }}">Elèves</a></li>
                                        <li><a href="{{ path('schooling_baccalaureat') }}">Types de BAC</a></li>
                                        <li><a href="{{ path('schooling_classroom_promo_new') }}">Années scolaires</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Administration</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('technologie_home') }}">Technologies</a></li>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li><a href="{{ path('pedagogical_referent_home') }}">Référents pédagoiques</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <div class="account">
                            <i class="fa fa-user fz20"></i>
                            Bienvenue,
                            <strong>
                                {{ app.user.firstName }} {{ app.user.lastName }}
                            </strong>

                            <a class="logout" href="{{ path('fos_user_security_logout') }}">
                                <i class="icon-power"></i>
                                Déconnexion
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="content">
            <div class="container">

                {% if app.session.flashBag.has('success') %}
                    <div class="messages">
                        {% for successMsg in app.session.flashbag.get('success') %}
                            <div class="alert alert--success">
                                <i class="icon"></i>
                                {{ successMsg }} !
                                <i class="icon-cross"></i>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if app.session.flashBag.has('warning') %}
                    <div class="messages">
                        {% for warningMsg in app.session.flashbag.get('warning') %}
                            <div class="alert alert--warning">
                                <i class="icon"></i>
                                {{ warningMsg }} !
                                <i class="icon-cross"></i>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h2>{% block page_title %}{% endblock %}</h2>
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}
            <div class="footer">
                <div class="container">
                    <div class="wrapper">
                        <div class="fl">
                            Outil développé par Csatári Rolland et Dumont Kévin
                        </div>
                        <div class="copyright">
                            Lycee Privé Saint-Vincent &copy; 2017
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <script src="{{ asset('assets/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

