<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lycée saint Vincent - Gestion de stages!{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block head %}{% endblock %}
    </head>
    <body class="login">
        <div class="content box">
            <div class="container">
                <img src="{{ asset('assets/img/logo.png') }}" alt="Logo saint vincent">

                {% if app.session.flashBag.has('success') %}
                    <div class="messages">
                        {% for successMsg in app.session.flashbag.get('success') %}
                            <div class="alert alert--success">
                                <i class="icon"></i>
                                {{ successMsg }} !
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if app.session.flashBag.has('warning') %}
                    <div class="messages">
                        {% for warningMsg in app.session.flashbag.get('warning') %}
                            <div class="alert alert--warning">
                                <i class="icon"></i>
                                {{ warningMsg }} !
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h2>{% block page_title %}{% endblock %}</h2>
                {% block body %}{% endblock %}
            </div>
        </div>

        <script src="{{ asset('assets/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
