{% extends 'base.html.twig' %}

{% block page_title %}
    {% if editMode is defined %}
        Modification d'un élève
    {% else %}
        Ajout d'un élève
    {% endif %}
{% endblock %}

{% block body %}

    {% set referer = app.request.server.get('http-referer')|default(path('schooling_student')) %}

    <a class="button button--error mb20 mr10" href="{{ referer }}">
        <i class="icon-chevron-left"></i>
        Retour à la liste des élèves
    </a>

    {% if editMode is defined %}
        <a class="button button--primary mr10 mb20"
           href="{{ path('schooling_student_view', { 'id' : student.id }) }}">
            <i class="icon-more"></i>
            Voir l'élève
        </a>
    {% endif %}

    <div class="box p20">

        {{ form_start(form) }}

        <div class="flex-grid mb20">
            <div class="flex-grid__col flex-grid__col--2">
                <h2>Informations personnelles</h2>
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
            </div>

            <div class="flex-grid__col flex-grid__col--2">
                <h2>Adresse</h2>
                {{ form_row(form.streetNumber) }}
                {{ form_row(form.streetLabel) }}
                {{ form_row(form.zipCode) }}
                {{ form_row(form.city) }}
            </div>
        </div>

        <h2 class="mb0">Formations</h2>

        <div class="flex-grid">
            <div class="flex-grid__col flex-grid__col--2">
                {{ form_row(form.bacalaureat) }}
            </div>
            <div class="flex-grid__col flex-grid__col--2">
                {{ form_row(form.bacGetting) }}
            </div>
        </div>

        {{ form_rest(form) }}

    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
