{% extends 'base.html.twig' %}

{% block page_title %}
    Élève {{ student.firstName }} {{ student.lastName }}
{% endblock %}

{% block body %}

    <a class="button button--error mr10 mb20"
       href="{{ path('schooling_student') }}">
        <i class="icon-chevron-left"></i>
        Retour à la liste des élèves
    </a>

    <a class="button button--primary mr10 mb20"
       href="{{ path('student_view_stage', { 'id' : student.id }) }}">
        <i class="icon-more"></i>
        Voir les stages
    </a>

    <a class="button button--primary mr10 mb20"
       href="{{ path('schooling_student_edit', { 'id' : student.id }) }}">
        <i class="icon-edit"></i>
        Modifier
    </a>

    <a class="button button--error mb20 mr10"
       href="{{ path('schooling_student_remove', { 'id' : student.id }) }}">
        <i class="icon-delete"></i>
        Supprimer
    </a>

    <div class="p20 box">
        <div class="info">
            <span class="label">
                Nom :
            </span>
            <span class="value">
                {{ student.firstName }}
                {{ student.lastName }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Adresse :
            </span>
            <span class="value">
                {{ student.streetNumber }}
                {{ student.streetLabel }}
                {{ student.zipCode }}
                {{ student.city }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Téléphone :
            </span>
            <span class="value">
                {{ student.phone }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Email :
            </span>
            <span class="value">
                {{ student.email }}
            </span>
        </div>

        {% if student.bacalaureat %}
            <div class="info">
                <span class="label">
                    Baccalauréat :
                </span>
                <span class="value">
                    {{ student.bacalaureat.bacLabel }}
                </span>
            </div>

            <div class="info">
                <span class="label">
                    Date d'obtention :
                </span>
                <span class="value">
                    {{ student.bacGetting|date('d/m/Y') }}
                </span>
            </div>
        {% endif %}
    </div>

    <div class="box p20 mt10">

        <a class="button button--primary"
           href="{{ path('schooling_student_classroom_new', {'id' : student.id }) }}">
            <i class="icon-add"></i>
            Ajouter une nouvelle classe
        </a>

        <h3>Historique des classes</h3>

        {% if classrooms %}
            <table class="company-list-table">
                <thead>
                <tr>
                    <th>Année</th>
                    <th>Classe</th>
                    <th>Stages</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for element in classrooms %}
                    <tr>
                        <td>{{ element.promo.promoLabel }}</td>
                        <td>{{ element.classroom.classRoomLabel }}</td>
                        <td>Voir les stages</td>
                        <td>
                            <a class="button button--sm button--rounded button--primary"
                               href="{{ path('schooling_student_classroom_edit',{ 'id' : element.id }) }}">
                                <i class="icon-edit"></i>
                                Modifier
                            </a>
                            <a class="button button--sm button--rounded button--error"
                               href="{{ path('schooling_student_classroom_remove',{ 'id' : element.id,  }) }}">
                                <i class="icon-delete"></i>
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="pt20">
                Aucun élément à afficher
            </div>
        {% endif %}
    </div>

{% endblock %}

