{% extends 'base.html.twig' %}

{% block page_title %}
    {% if editMode is defined %}
        Modification du stage de {{ student.firstName }} {{ student.lastName }}
    {% else %}
        Ajout d'un stage à l'élève {{ student.firstName }} {{ student.lastName }}
    {% endif %}
{% endblock %}

{% block body %}
    <a class="button button--error mb20 mr10"
       href="{{ path('student_view_stage', { 'id' : student.id }) }}">
        <i class="icon-chevron-left"></i>
        Retour aux stages de l'élève
    </a>

    {% if editMode is defined %}
        <a class="button button--primary mr10 mb20"
           href="{{ path('stage_view', { 'id' : stage.id }) }}">
            <i class="icon-more"></i>
            Voir
        </a>

        <a class="button button--error mb20 mr10"
           href="{{ path('remove_stage', { 'id' : stage.id }) }}">
            <i class="icon-delete"></i>
            Supprimer
        </a>
    {% endif %}

    <div class="box p20">
        {{ form(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
