{% extends 'base.html.twig' %}

{% block page_title %}
    Chercher des stages
{% endblock %}

{% block body %}

    <div class="box p20 mt10">
        <h2>Sélectionnez une classe pour chercher</h2>

        {{ form_start(form, { 'method': 'GET' }) }}
            {{ form_rest(form) }}
            <button class="button button--primary" type="submit">Rechercher</button>
        {{ form_end(form) }}
    </div>

    {% if elements|length %}
        <div class="box p20 mt10">
            <table class="company-list-table mt20">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nombre de stages effectués/en cours</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for element in elements %}

                    <tr>
                        <td>{{ element.firstName }}</td>
                        <td>{{ element.lastName }}</td>
                        <td>
                            <strong>
                                {% if element.stage|length  %}
                                    {{ element.stage|length  }}
                                {% else %}
                                    Aucun
                                {% endif %}
                            </strong>
                        </td>
                        <td>
                            <a href="{{ path('student_view_stage', {'id' : element.id}) }}" class="button button--primary button--sm button--rounded">Voir les stages</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="box p20 mt10">
            Aucun élément à afficher
        </div>
    {% endif %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
