{% extends 'base.html.twig' %}

{% block page_title %}
    <h2>Stage de {{ stage.student.firstName }} {{ stage.student.lastName }}</h2>
{% endblock %}

{% block body %}

    <a class="button button--error mr10 mb20"
       href="{{ path('student_view_stage', { 'id' : stage.student.id }) }}">
        <i class="icon-chevron-left"></i>
        Retour aux stages de l'élève
    </a>

    <a class="button button--primary mr10 mb20"
       href="{{ path('edit_stage', { 'id' : stage.id }) }}">
        <i class="icon-edit"></i>
        Modifier
    </a>

    <a class="button button--error mb20"
       href="{{ path('remove_stage', { 'id' : stage.id }) }}">
        <i class="icon-delete"></i>
        Supprimer
    </a>

    <div class="box p20">

        <div class="info">
            <span class="label">
                Entreprise :
            </span>
            <span class="value">
                {{ stage.company.name }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Classe de l'étudiant :
            </span>
            <span class="value">
                {{ getClassRoom(stage.student) }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Promotion
            </span>
            <span class="value">
                {{ stage.promo.promoLabel }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                 Période :
            </span>
            <span class="value">
                du {{ stage.startDate|date('d/m/Y') }} au {{ stage.endDate|date('d/m/Y') }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Référent technique :
            </span>
            <span class="value">
                {{ stage.company.professionalReferent.firstName }} {{ stage.company.professionalReferent.lastName }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Référent pédagogique :
            </span>
            <span class="value">
                {{ stage.pedagogicalReferent.firstName }} {{ stage.pedagogicalReferent.lastName }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Technologies pratiquées :
            </span>
            <span class="value">
                {% for technologie in stage.technologies %}
                    {{ technologie.technologieLabel }}{% if loop.last != true %},{% endif %}
                {% endfor %}
            </span>
        </div>

    </div>

    <div class="box p20 mt20">
        <h2>Visites liées au stage</h2>

        {% for visite in stage.visite %}
            <div class="box box--gray box--hover p20 mb20">
                <h3>Visite du {{ visite.visiteDate|date('d/m/Y') }}</h3>
                <h4>Observations :</h4>
                <p>{{ visite.comments }}</p>
            </div>
        {% endfor %}

        <a class="button button--primary" href="{{ path('add_visite_to_stage', { 'id' : stage.id }) }}">
            <i class="icon-add"></i>
            Ajouter une visite
        </a>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
