{% extends 'base.html.twig' %}

{% block page_title %}
    Stages de {{ student.firstName }} {{ student.lastName }}
{% endblock %}

{% block body %}

    <a class="button button--primary mr10 mb20"
       href="{{ path('schooling_student_view', { 'id' : student.id }) }}">
        <i class="icon-more"></i>
        Voir l'élève
    </a>

    <a class="button button--primary mr10 mb20"
       href="{{ path('add_stage', { 'id' : student.id }) }}">
        <i class="icon-add"></i>
        Ajouter un stage
    </a>

    <div class="box p20 mt10">
        <h3>Stages</h3>

        {% if student.stage %}
            <table class="company-list-table">
                <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Promo</th>
                    <th>Référent pro.</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for stage in student.stage %}
                    <tr>
                        <td>{{ stage.company.name }}</td>
                        <td>{{ stage.promo.promoLabel }}</td>
                        <td>{{ stage.professionalReferent.firstName }} {{ stage.professionalReferent.lastName }}</td>
                        <td>
                            <a class="button button--sm button--rounded button--primary"
                               href="{{ path('stage_view', { 'id' : stage.id }) }}">
                                <i class="icon-more"></i>
                                Consulter
                            </a>
                            <a class="button button--sm button--rounded button--primary"
                               href="{{ path('edit_stage', { 'id' : stage.id }) }}">
                                <i class="icon-edit"></i>
                                Modifier
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="pt20">
                Aucun élément à afficher
            </div>
        {% endif %}
    </div>


{% endblock %}

