{% extends 'base.html.twig' %}

{% block page_title %}
    {% if editMode is defined %}
        Modification d'un type entreprise
    {% else %}
        Ajout d'un type entreprise
    {% endif %}
{% endblock %}

{% block body %}

    <a class="button button--error mb20" href="{{ path('company_type_home') }}">
        <i class="icon-chevron-left"></i>
        Retour
    </a>

    <div class="box p20 mb50">
        {{ form(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
