{% extends 'base.html.twig' %}

{% block page_title %}
    Liste des types entreprise
{% endblock %}

{% block body %}

    <a class="button button--primary" href="{{ path('company_type_add') }}">
        <i class="icon-add"></i>
        Ajouter un type d'entreprise
    </a>

    <div class="box p10 mt10">

        {% if elements %}
        <table class="company-list-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Libellé</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for element in elements %}
                <tr>
                    <td>{{ element.id }}</td>
                    <td>{{ element.typeLabel }}</td>
                    <td>
                        <a class="button button--sm button--rounded button--primary"
                           href="{{ path('company_type_edit',{ 'id' : element.id }) }}">
                            <i class="icon-edit"></i>
                            Modifier
                        </a>
                        <a class="button button--sm button--rounded button--error"
                           href="{{ path('company_type_remove',{ 'id' : element.id }) }}">
                            <i class="icon-delete"></i>
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="pt10">
                Aucun élément à afficher
            </div>
        {% endif %}
    </div>

{% endblock %}
