{% extends 'login.html.twig' %}

{% block body %}

    <h1 class="m0">Connexion</h1>

    {% if error %}
        <div class="messages mt10">
            <div class="alert alert--warning">
                <i class="icon-cross"></i>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="input-wrapper">
            <div class="field">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <label for="username">Email</label>
                <div class="bottom"></div>
            </div>
        </div>

        <div class="input-wrapper">
            <div class="field">
                <input type="password" id="password" name="_password" required="required" />
                <label for="password">Mot de passe</label>
                <div class="bottom"></div>
            </div>
        </div>

        <div class="tac">
            <input class="button button--primary" type="submit" id="_submit" name="_submit" value="Connexion" />
        </div>
    </form>

{% endblock body %}
