{% extends 'base.html.twig' %}

{% block page_title %}
    Liste des promos
{% endblock %}

{% block body %}

    <div class="box p20">
        <h2>
            {% if editMode is defined %}
                Modification d'une promo
            {% else %}
                Ajout d'une promo
            {% endif %}
        </h2>

        {{ form_start(form) }}

            {{ form_row(form.promoLabel) }}

            {% if editMode is defined %}
                <a href="{{ path('schooling_classroom_promo_new') }}" class="button button--error mr10">
                    <i class="icon-chevron-left"></i>
                    Retour
                </a>
            {% endif %}

            {{ form_widget(form.Valider) }}

        {{ form_end(form) }}
    </div>

    <div class="box p10 mt10">
        {% if elements %}
            <table class="company-list-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Classe</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for element in elements %}
                        <tr>
                            <td>{{ element.id }}</td>
                            <td>{{ element.promoLabel }}</td>
                            <td>
                                <a class="button button--sm button--rounded button--primary"
                                   href="{{ path('schooling_classroom_promo_edit', { 'id' : element.id }) }}">
                                    <i class="icon-edit"></i>
                                    Modifier
                                </a>
                                <a class="button button--sm button--rounded button--error"
                                   href="{{ path('schooling_classroom_promo_remove', { 'id' : element.id }) }}">
                                    <i class="icon-delete"></i>
                                    Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="pt10">
                Aucun élément à afficher
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
