{% extends 'base.html.twig' %}

{% block page_title %}
    {% if editMode is defined %}
        Modification d'une entreprise
    {% else %}
        Ajout d'une entreprise
    {% endif %}
{% endblock %}

{% block body %}

    <a class="button button--error mr10 mb20"
       href="{{ path('company_home') }}">
        <i class="icon-chevron-left"></i>
        Retour à la liste
    </a>

    {% if editMode is defined %}
        <a class="button button--primary mr10 mb20"
           href="{{ path('company_view',{ 'id' : company.id }) }}">
            <i class="icon-more"></i>
            Voir l'entreprise
        </a>

        <a class="button button--error mb20"
           href="{{ path('company_remove',{ 'id' : company.id }) }}">
            <i class="icon-delete"></i>
            Supprimer
        </a>
    {% endif %}

    <div class="box p20">
        {{ form_start(form) }}

        <div class="flex-grid">

            <div class="flex-grid__col flex-grid__col--2">
                <h2>Informations</h2>

                {{ form_row(form.name) }}
                {{ form_row(form.professionalReferent) }}
                {{ form_row(form.companyType) }}
                {{ form_row(form.turnover) }}
                {{ form_row(form.phone) }}
            </div>

            <div class="flex-grid__col flex-grid__col--2">
                <h2>Adresse</h2>
                {{ form_row(form.streetNumber) }}
                {{ form_row(form.streetLabel) }}
                {{ form_row(form.zipCode) }}
                {{ form_row(form.city) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
