{% extends 'base.html.twig' %}

{% block page_title %}
    Liste des entreprises
{% endblock %}

{% block body %}

    <a class="button button--primary" href="{{ path('company_add') }}">
        <i class="icon-add"></i>
        Ajouter une entreprise
    </a>

    <div class="box p10 mt10">

        {% if companies %}
            <table class="company-list-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Entreprise</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company.id }}</td>
                        <td><a href="{{ path('company_view', {'id' : company.id }) }}">{{ company.name }}</td>
                        <td>
                            <a class="button button--sm button--rounded button--primary"
                               href="{{ path('company_edit',{ 'id' : company.id }) }}">
                                <i class="icon-edit"></i>
                                Modifier
                            </a>
                            <a class="button button--sm button--rounded button--error"
                               href="{{ path('company_remove',{ 'id' : company.id }) }}">
                                <i class="icon-delete"></i>
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="pt10">
                Aucun élément à afficher
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
