{% extends 'base.html.twig' %}

{% block page_title %}
    {{ company.name }}
{% endblock %}

{% block body %}

    <a class="button button--error mr10 mb20"
       href="{{ path('company_home') }}">
        <i class="icon-chevron-left"></i>
        Retour à la liste
    </a>

    <a class="button button--primary mr10 mb20"
       href="{{ path('company_edit',{ 'id' : company.id }) }}">
        <i class="icon-edit"></i>
        Modifier
    </a>

    <a class="button button--error mb20"
       href="{{ path('company_remove',{ 'id' : company.id }) }}">
        <i class="icon-delete"></i>
        Supprimer
    </a>

    <div class="p20 box">

        <div class="info">
            <span class="label">
                Nom de l'entreprise :
            </span>
            <span class="value">
                {{ company.name }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Type d'entreprise :
            </span>
            <span class="value">
                {{ company.companyType.typeLabel }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Chiffre d'affaires :
            </span>
            <span class="value">
                {{ company.turnover }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Téléphone :
            </span>
            <span class="value">
                {{ company.phone }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Référent Professionnel :
            </span>
            <span class="value">
                {{ company.professionalReferent.firstName }}
                {{ company.professionalReferent.lastName }}
            </span>
        </div>

        <div class="info">
            <span class="label">
                Adresse :
            </span>
            <span class="value">
                {{ company.streetNumber }}
                {{ company.streetLabel }}
                {{ company.zipCode }}
                {{ company.city }}
            </span>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
