{% extends 'base.html.twig' %}

{% block page_title %}
    {% if editMode is defined %}
        Modification d'une classe
    {% else %}
        Ajout d'une classe
    {% endif %}
{% endblock %}

{% block body %}

    <a class="button button--error mb20" href="{{ path('schooling_classroom') }}">
        <i class="icon-chevron-left"></i>
        Retour
    </a>

    <div class="box p20">
        {{ form(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
